html, body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	color:#333;
	border-radius: 1px 1px;
}
.stl {
	cursor: pointer;
	margin-left: 50px;
	margin-top: 530px;
}
.stl:hover {
	color:#f00;
}

#no-webgl {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	left: 0;top: 0;right: 0;bottom: 0;
	background-color: #aaa;
	z-index: 99999;
	text-align: center;
}


#ajax-loading {
	position: absolute;
	width: 32px;height: 32px;
	margin: auto;
	left: 0;top: 0;right: 0;bottom: 0;
	background-image: url(ajax-loader.gif);
}
.aline, .dline {
	clear: left;
	margin-bottom: 15px;
	overflow: hidden;
}
#cont {
	position: relative;
	width: 650px;
	height: 650px;
	float: left;
}

#menu {
	width:500px;
	height: 100px;
	margin-right: 115px;
	margin-left: auto;
	margin-top: 10px;
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.menu-list li:hover {
	cursor: pointer;
	border: 5px #f33 solid;

}
.menu-list li:hover div {
	background-position: 12px 12px;
}
.menu-list li:active {
	background-position: 12px 12px;
	border: 5px #f33 solid;
}
.menu-list .active-menu {
	border: 5px #f33 solid;
}
.menu-list .active-menu div {
	background-position: 12px 12px;

}
.menu-list li {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	-webkit-box-sizing:border-box;
	background-color: #fafafa;
	-moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 50px;
	-webkit-box-shadow: 2px 0px 6px #999;
	-moz-box-shadow: 2px 0px 6px #999;
	box-shadow: 2px 0px 6px #999;

	width:70px;
	height:70px;
	margin-top: 5px;
	margin-left: 30px;
	display: inline-block;

}

.menu-disabled {
	background-color: #eee !important;
}
.menu-disabled:hover {
	cursor: default !important;
	border: 0px !important;
}
.menu-disabled:hover div {
	background-position: 17px 17px !important;
}

:focus {
	outline: 0
}
#panel {
	font-size: 14px;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 30px;
	margin-left: 40px;

	margin-top: 20px;

	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	border: 1px solid #d3d3d3;

	width:310px;
	height: 390px;
	float: left;
	color:#939598;
	background-color: #f6f6f6;
}
#price-block {
	color: #f33;
}
.center {
	width:1080px;
	margin: auto;
	position: absolute;
	top: 110px; left: 0; bottom: 0; right: 0;
}
.menu-img-1 {
	background-image: url(icons/product1.png);
}
.menu-img-2 {
	background-image: url(icons/product2.png);
}
.menu-img-3 {
	background-image: url(icons/product4.png);
}
.menu-img-4 {
	background-image: url(icons/product5.png);
}
.menu-img-5 {
	background-image: url(icons/product6.png);
}

.menu-img {
	background-position: 17px 17px;
	background-size: 34px 34px;
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;

}


.selectboxit-arrow-container {
    width: 40px;
}

.selectboxit-container .selectboxit {
    width: 40px;
    height: 40px;
    border-radius: 0;
    background: url(images/font_logo.jpg) no-repeat;
    margin-top: 1px;
    margin: 0 0 0 250px !important;
}

.selectboxit-container .selectboxit-options {

	min-width: inherit !important;
	right: 0 !important;
}

.selectboxit-container .selectboxit-options {
    border-radius: 0 0 6px 6px;
    border-top: 0;
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    display: none;
}

.selectboxit-container span,.selectboxit-container .selectboxit-options a {
    height: 40px;
    line-height: 40px;
}

.selectboxit-btn.selectboxit-enabled:hover,.selectboxit-btn.selectboxit-enabled:focus {
    background-position: 0 0;
}

#char-counter {
	float: right;
	font-size: 13px;
	color: #abadb0;
	line-height: 40px;
	width: 18px;
	text-align: center;
	margin-top: -40px;
}

.selectboxit-option-anchor:hover {
	color: #939598;
	background-color: #e8eaec;
}

.ui-tooltip {
	border-radius: 0px;
	background-color: #000;
	color: #fff !important;
	font-size: 13px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
a.plus:hover {
	background: url('images/plus_red.png') center no-repeat;
}
a.minus:hover {
	background: url('images/minus_red.png') center no-repeat;
}
a.plus {
	background: url('images/plus_gray.png') center no-repeat;
	float: left;
	display: inline-block;
	width: 40px;
	height: 39px;
	margin-top: 0;
}
a.minus {
	background: url('images/minus_gray.png') center no-repeat;
	float: left;
	display: inline-block;
	width: 40px;
	height: 39px;
	margin-top: 0;
}
#p-size-display {
	float: left;
	width: 86px;
	height: 35px;
	line-height: 36px;
	border: 1px solid #dadada;
	font-size: 18px;
	font-weight: normal;
	color: #303030;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	margin: 0 5px 0 8px;
}
input, textarea {
	-webkit-transition: border linear 0.0s, box-shadow linear 0.0s;
	-moz-transition: border linear 0.0s, box-shadow linear 0.0s;
	-ms-transition: border linear 0.0s, box-shadow linear 0.0s;
	-o-transition: border linear 0.0s, box-shadow linear 0.0s;
	transition: border linear 0.0s, box-shadow linear 0.0s;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	font-family: Georgia, serif !important;
}
.gold {
	cursor: pointer;
	margin-top: -7px;
	margin-left: 10px;
	float:left;
	width: 32px;
	height: 32px;
	background-image: url(images/material_golden.png);
}
.silver {
	cursor: pointer;
	margin-top: -7px;
	margin-left: 10px;
	float:left;
	width: 32px;
	height: 32px;
	background-image: url(images/material_silver.png);
}
#submit:hover {
	background: url(images/webgl_control_magic_button_hover.png) center no-repeat;
}
#submit {
	float: right;
	display: inline-block;
	width: 63px;
	height: 58px;
	margin-top: -14px;
	margin-left: 10px;
	background: url(images/webgl_control_magic_button.png) center no-repeat;
	text-align: center;
}
#word-input {
	float: left;
	width: 249px !important;
	width: 250px;
	_width: 249px;
	height: 38px !important;
	height: 40px;
	_height: 38px;
	line-height: 38px;
	border: 1px solid #dbdcdd;
	border-right: 0;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-ms-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	background: #fefefe;
	position: relative;
	z-index: 4;
	margin-top: -40px;
}
#text-input {
	float: left;
	width: 215px !important;
	width: 230px;
	_width: 215px;
	height: 38px;
	line-height: 38px;
	padding: 0 10px 0 5px;
	font-size: 14px;
	color: #686d71;
	border: 0;
}
div.select_list {
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.select_list a {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #d1d1d1;
	margin-right: 15px;
}
#cont canvas {
	margin-left: 40px;
	display: none;
}
#YEARSTYLE_SELECTION {
	background-color: #f6f6f6;
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
	border-radius: .4em;
	border: 1px solid #d3d3d3;
	position: absolute;
	left: -80px;
	top: 14px;
	width: 200px;
	height: 444px;
	padding-top: 10px;
}

#YEARSTYLE_SELECTION #LEFT_NAME_DIV {
	margin-left: -20px;
    float: left;
    width: 100px;
    overflow: hidden;
}

#YEARSTYLE_SELECTION #RIGHT_YEAR_DIV {
    float: right;
    width: 115px;
    height: 480px;
    background: url(images/vertical_scale.png) no-repeat;
}

#YEARSTYLE_SELECTION ul li {
    overflow: hidden;
    line-height: 1.0;
    font-size: 13px;
    color: #bcbec0;
    vertical-align: top;
}

#YEARSTYLE_SELECTION ul li.styleoption1 {
    height: 102px;
}

#YEARSTYLE_SELECTION #LEFT_NAME_DIV ul li.styleoption1 {
    height: 97px	!important;
    height: 102px;
    _height: 97px;
    padding-top: 5px;
}

#YEARSTYLE_SELECTION ul li.styleoption2 {
    height: 75px;
}

#YEARSTYLE_SELECTION #LEFT_NAME_DIV ul li.styleoption2 {
    height: 70px	!important;
    height: 75px;
    _height: 70px;
    padding-top: 5px;
}

#YEARSTYLE_SELECTION ul li.styleoption3 {
    height: 64px;
}

#YEARSTYLE_SELECTION #LEFT_NAME_DIV ul li.styleoption3 {
    height: 61px	!important;
    height: 64px;
    _height: 61px;
    padding-top: 3px;
}

#YEARSTYLE_SELECTION ul li.styleoption4 {
    height: 73px;
}

#YEARSTYLE_SELECTION #LEFT_NAME_DIV ul li.styleoption4 {
    height: 68px	!important;
    height: 73px;
    _height: 68px;
    padding-top: 5px;
}

#YEARSTYLE_SELECTION ul li.styleoption5 {
    height: 46px;
}

#YEARSTYLE_SELECTION #LEFT_NAME_DIV ul li.styleoption5 {
    height: 41px	!important;
    height: 46px;
    _height: 41px;
    padding-top: 5px;
}

#YEARSTYLE_SELECTION ul li.styleoption6 {
    height: 55px;
}

#YEARSTYLE_SELECTION #RIGHT_YEAR_DIV ul li.styleoption6 {
    height: 50px	!important;
    height: 55px;
    _height: 50px;
    padding-top: 5px;
}

#YEARSTYLE_SELECTION #LEFT_NAME_DIV ul li {
    text-align: center;
}

#YEARSTYLE_SELECTION a.yearstyle {
    display: block;
    width: 46px	!important;
    width: 58px;
    _width: 46px;
    padding-left: 12px;
    height: 27px;
    line-height: 27px;
    background: url(images/year_bg.png) no-repeat;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    color: #898989;
}

#YEARSTYLE_SELECTION a.current,
                        #YEARSTYLE_SELECTION a.yearstyle:hover {
    background: url(images/year_bg_hover.png) no-repeat;
    color: #FFFFFF;
}